.TodoApp {
    background-color: #F5F5F5;
    color: #222;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
}

.Title h1 {
  color: red;
  font-size: 30px;
}

.Title p {
  font-style: italic;
  font-size: 25px;
}

.TodoList {
  color: blue;
}
